<!DOCTYPE html>
<html>
<head>
	<title>Lý Tử Văn</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../public/1412637.css">
</head>
<body> 
	<!-- <div id="container">
		<div id="navBar">
			<ul>
				<li>
					<a href="http://localhost:8080/myprofile.html">
						<img src="./imgs/logo_aos.png" height="42" width="42">
					</a>
				</li>
	  			<li><a href="#">Home</a></li>
	  			<li><a href="#">My Network</a></li>
	 			<li><a href="#">Messaging</a></li>
	  			<li><a href="">Jobs</a></li>
	  			<li><a href="#">Notifications</a></li>
			</ul>
		
		</div>
	</div> -->
	<div id="main">
		<div id="profilepicture">
			<img src="../public/images/1412637.jpg" class="profilepic">
		</div>
		<div id="profileinfo">
			<h1 style="font-weight: lighter; font-size: 40px; letter-spacing: 4px">Lý Tử Văn</h1>
			<p>Student at Ho Chi Minh City University of Science</p>
			<p>Major: Software Engineering</p>
			<p>Student ID: 1412637</p>
			<p>Email: ltuvan.47@gmail.com</p>
		</div>

	</div>
	<!-- <div id="footer">
		<p>PTUDWeb CQ2015/32</p>
	</div> -->
	
</body>
</html>