<!DOCTYPE html>
<html>
<head>
	<title>My profile</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../public/1412570.css">
</head>
<body id="full">
<div>
	<!-- <div id="head"><a href="index.html">HOME</a></div> -->
	<div>
		<img src="../public/images/1412570.jpg" >
	</div>
	<div id="myself">
		<h1>PHAN THỊ PHƯƠNG TRINH</h1>
		<h3>Student of HCMUS</h3>
		<h4>
			Phone: 01667568278 
			<br>
			Email: phuongtrinhphanthi@gmail.com
		</h4>
	</div>
	<hr>
	<div id = "skill">
		<h2>SKILL</h2>
		<h3>
			<ul>
				<li>C/C++</li>
				<li>C#</li>
				<li>HTML/CSS</li>
			</ul>
		</h3>
	</div>
	<hr>
	<div id="language">
		<h2>LANGUAGE</h2>
		<h3>
			<ul>
				<li>ENGLISH</li>
				<li>CHINESE</li>
			</ul>
		</h3>
	</div>
</div>
</body>
</html>