<!DOCTYPE html>
<html>
<head>
	<title>GROUP</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="../public/1412562.css">
</head>
<body>
	<div class="container">
		
		
		<div class="content">
			<div id = "ava-bg" >
				<br></br><br></br><br></br>
				 <a href = "#" title="Xem ảnh đại diện" id = "avatar"><img src="../public/images/1412562.jpg" width="200px" height="200px"> </a>
			</div>

			
			<br></br>
			<div class = "row">
				
				<div class="col-sm-9"> 
					<h4> Introduction  </h4>
					<div class="row">
						
						<div class="col-sm-6"> 
							
							<ul>
								<li> Full Name: Phan Thị Thùy Trang </li>
								<li> Student ID: 1412562 </li>
								<li> Phone Number: 098280548 </li>
								<li> Email: ptttrang562.khtn@gmail.com</li>
							</ul>
						</div>

						<div class="col-sm-6"> 
							
							<ul>
								<li>Job: Backend/ Full-stack Developer </li>
								<li>Major: Software engineer </li>
								<li>School: University of Science</li>
							</ul>
						</div>
					</div>
					
					<hr>
					
					<div class="row">
						
						<div class="col-sm-6"> 
							<h4> Skill</h4>
							<ul>

								<li> C/C++ </li>
								<li> HTML, JS, CSS, BOOTSTRAP</li>
								<li> PHP, NODEJS</li>
								<li> MongoDB, My SQL, SQL Server</li>
							</ul>
						</div>

						<div class="col-sm-6"> 
							<h4>Favorite</h4>
							<ul>
								<li> Watch cartoon, action film</li>
								<li> Reading book </li>
								<li> Travel</li>
							</ul>
						</div>
					</div>
					
					<hr>
					
				</div>
				<div class="col-sm-3"> 
					<center>
					<table border="0" width="250px">
						<tr>
							<td>
								<a href="https://www.facebook.com/chau.phan.7121"> <img src="../public/images/fb.png" width="50px" /></a>
								<a href="https://www.linkedin.com/in/trang-phan-585b8812a"> <img src="../public/images/in.png" width="50px" /></a>
								<a href="https://mail.google.com"> <img src="../public/images/google.png" width="45px" /></a>
							</td>
						</tr>
					</table>
				</center>
				</div>
			</div>
		</div>

	</div>
</body>
</html>