<!DOCTYPE html>
<html>
<head>
	<title>GROUP</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="../public/1412562.css">
</head>
<body>
	<div id="container">
		
			<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="index.html">HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="index.html">ABOUT US</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="index.html">CONTACT</a>
  </li>
  
</ul>
		</div>
	</div>
	
			<div class="home-doctors  clearfix">

					    <div class="container">
					        <div class="row">
				                <div class="col-lg-12 col-md-12 col-sm-12 ">
				                    <div class="slogan-section animated fadeInUp clearfix ae-animation-fadeInUp">
				                    	<h2>OUR TEAM</h2>
				                    	<p> GIT:<a href="https://github.com/WEB2407">  WEB2407</a>
				                    	<!-- <a href="https://github.com/WEB2407"> <img src="../public/images/git.png" width="50px"/></a> -->
				                    </div>
				                </div>
					    	</div>					        
					        <div class="row">

					        	<!--Thành viên thứ 1 -->
						            <div class="col-lg-3 col-md-3 col-sm-6  text-center doc-item">
				                        <div class="common-doctor animated fadeInUp clearfix ae-animation-fadeInUp">

					                        <a href="1412562.html">
	                                        <figure>
								                    <img width="670" height="500" src="../public/images/1412562.jpg" title="Xem thông tin"> 
								            </figure>

						                    <div class="text-content">
						                        <a><h5>Thùy Trang</h5></a>
						                        <!-- <div class="for-border"></div> -->
						                        <p> 1412562</p>
						                    </div>
						                </a>
						                </div>
						            </div>

						        <!--Thành viên thứ 2 -->
						            <div class="col-lg-3 col-md-3 col-sm-6  text-center doc-item">
				                        <div class="common-doctor animated fadeInUp clearfix ae-animation-fadeInUp">

					                        <a href="1412564.html">
	                                        <figure>
								                    <img src="../public/images/1412564-1.jpg" title="Xem thông tin"> 
								            </figure>

						                    <div class="text-content">
						                        <a><h5>Bích Trâm</h5></a>
						                        <!-- <div class="for-border"></div> -->
						                        <p> 1412564</p>
						                    </div>
						                </a>
						                </div>
						            </div>

						            <!--Thành viên thứ 3 -->
						            <div class="col-lg-3 col-md-3 col-sm-6  text-center doc-item">
				                        <div class="common-doctor animated fadeInUp clearfix ae-animation-fadeInUp">

					                        <a href="1412570.html">
	                                        <figure>
								                    <img src="../public/images/1412570-1.jpg" title="Xem thông tin"> 
								            </figure>

						                    <div class="text-content">
						                        <a><h5>Phương Trinh</h5></a>
						                        <!-- <div class="for-border"></div> -->
						                        <p> 1412570</p>
						                    </div>
						                </a>
						                </div>
						            </div>

						            <!--Thành viên thứ 4 -->
						            <div class="col-lg-3 col-md-3 col-sm-6  text-center doc-item">
				                        <div class="common-doctor animated fadeInUp clearfix ae-animation-fadeInUp">

					                        <a href="1412637.html">
	                                        <figure>
								                    <img  src="../public/images/1412637-1.jpg" title="Xem thông tin"> 
								            </figure>

						                    <div class="text-content">
						                        <a><h5>Tử Văn</h5></a>
						                        <!-- <div class="for-border"></div> -->
						                        <p> 1412637</p>
						                    </div>
						                </a>
						                </div>
						            </div>





<!-- entry2 -->
						          
<!-- // -->




					                <div class="visible-sm clearfix margin-gap"></div>
					       </div>
</div>
</div>		
		</div>
	</div>
</body>
</html>